body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: ivory;
}

input[type = "submit"] {
  background-color: yellowgreen;
  border-color: yellowgreen;
}

input[type = "submit"]:hover {
  background-color: olivedrab;
  border-color: olivedrab;
}

.Header {
  background-color: lightyellow;

  border-bottom: solid 0.25rem palegoldenrod;
}